@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  height: 100%;
  overflow-y: auto;
  font-family: "poppins", sans-serif;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
}

a {
  transition: 0.4s;
}
